@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.white-background {
    background-color: white;
}

.navbar {
    /* background-color: transparent; */
    color: #676767;
    padding: 15px;
    z-index: 100;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-nav .nav-link {
    color: #676767;
    font-family: 'Lilita One', cursive;
    margin-right: 2rem;
}

.navbar-nav .nav-link:hover {
    color: #CCA51B;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active {
    color: #CCA51B !important;
}

.link-secondary .fa-shopping-cart {
    color: #676767;
    font-size: 24px;
}

.link-secondary:hover {
    color: #CCA51B;
}

.btn-nav {
    font-size: 1rem;
    text-transform: none;
    background-color: #fff; 
    color: #656565;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-nav:hover {
    background-color: #c49c0b;
    color: #fff;
}
